<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,400&family=Varela&display=swap"
        rel="stylesheet">
    <title>Cinemix</title>
</head>

<body class="bg-dark">
    {{>navbar}}


    <div class="container">
        <div class="row">

            {{#if isAdmin}}
             <a href="/delete/{{movie.id}}" class="btn-delete">
                    <button type="button" class="btn btn-danger mt-1">Delete </button>
            </a>
             <a href="/update/{{movie.id}}" class="mt-2">
                    <button type="button" class="btn btn-danger mt-1">Update </button>
            </a>
             {{/if}}

            <div class="col-12 col-md-4 mt-5 register d-flex align-items-center">
               
                <img class="img-fluid" src="{{movie.image}}" alt="">
            </div>
           

            <div class="col-12 col-md-8 mt-5 login ">
                <form action="/ticket/{{user.id}}" method="post">
                    <h2 class="text-danger text-center text-login">{{movie.name}} </h2>
                    <p class="text-white mt-5">Movie hour : {{movie.movie_hour}}</p>
                    <p class="text-white">Price : 20.000 </p>
                    <div class="input-group mb-3">
                        <label class="input-group-text bg-danger text-white" for="inputGroupSelect01">Date</label>
                        <select class="form-select" name="date" required id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="14-12-2021">14 Desember 2021</option>
                            <option value="15-12-2021">15 Desember 2021</option>
                            <option value="16-12-2021">16 Desember 2021</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text bg-danger text-white" for="inputGroupSelect01">Time</label>
                        <select class="form-select" name="time" required id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="13:00:00">13.00</option>
                            <option value="15:00:00">15.00</option>
                            <option value="18:00:00">18.00</option>
                        </select>
                    </div>



                    <div class="input-group mb-3">
                        <label class="input-group-text bg-danger text-white" for="inputGroupSelect01">user :
                            {{user.fullname}}</label>
                        <input type="number" value="{{user.id}}" name="userId" readonly
                            style="width: 78%; display:none;  ">
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text bg-danger text-white" for="inputGroupSelect01">movie:
                            {{movie.name}}</label>
                        <input type="number" value="{{movie.id}}" name="movieId" readonly name="quantity"
                            style="width: 78%; display:none;  ">
                    </div>

                    <div class="div-btn d-flex justify-content-center mt-4">

                        <input class="login-submit" type="submit" value="Order Now">

                    </div>
                </form>


            </div>


        </div>
    </div>



    <div class="container-fluid footer">
        <p class="text-white text-center">Copyright Maulana Ulul Azmi 2021</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>$(window).on('scroll', function () {
            if ($(window).scrollTop()) {
                $('.navbar').addClass('shadow-lg');
            } else {
                $('.navbar').removeClass('shadow-lg');
            }
        })
        function handleChange() {
            let previewImage = document.getElementById('preview-tumb')
            const value = URL.createObjectURL(event.target.files[0])
            previewImage.innerHTML = `<img class="img-fluid" style="width:100%; height:100%;" src="${value}" />`
        }
    </script>
</body>

</html>